<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancerbero</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>Cancerbero</h2>
    </div>

    <div class="container">
        <form method="POST" action="/update/{{updated_details.id}}">
            <input type="email" name="email" placeholder="Email" class="form-control" value="{{updated_details.email}}" >
            <br>
            <input type="text" name="site_url" placeholder="Site URL/Address" class="form-control" value="{{updated_details.site_url}}">
            <br>
            
            <input type="password" name="site_password" placeholder="Password" class="form-control" value="{{updated_details.site_password}}">

            <br>
            <button class="btn btn-outline-primary">Add</button>
        </form>
    </div>

    <hr>
 

    




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
</body>
</html>